header {
	video { 
	    position: relative;
	    max-width: 100%;
	    height: auto;
	    width: 100%;
	    height: auto;
	    z-index: -100;
	    background: url(assets/images/reboot.png) no-repeat;
	    background-size: cover; 
	}
}